*{
    padding:0;
    margin:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}

body{
    background: #080808;
    color: #fff;
}
html{
    scroll-behavior: smooth;   /***VIMP*********/
}

#id1{
    width:100%;
    height:100vh;   /********** VIMP*****/
    background-image: url(back3.png);  /* adding img using css***/
    background-size:cover;
    background-position: center;
}
#id2{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    
}
.logo{
    width:140px;
}

nav ul li{        /******** accessing a particular tag using multiple tags*****/
    display: inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
     position:relative;
}
nav ul li a::after{    /******* AFTER is used to target a particular tag
                         if any changes made it will be applied to all tags of same kind*/
    content:'';
    width:0;
    height:3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom: -6px;         /********/
    transition:0.5 s;
}
nav ul li a:hover::after{     /**** VIMP*/
    width:100%;
}
#header{
    margin-top:20%;
    font-size: 30px;
}
#header h1{
    font-size: 60px;
}
#header h1 span{
    color:#ff004f;
}
#header0{
    display:flex;
justify-content: space-between;
margin-top: 70px;
}

/* this css is used to animate the image******/
#header1 img{
    width:35vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}


/********* about**********/
#about{
    padding:80px 0;
    color:#ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.col1{
    flex-basis:35%;   /* used to make the size of div in flexible in flex box*/
}
.col1 img{
    width:100%;
    border-radius:15px;

}
.col2{

      flex-basis: 60%;
     
}
.sub_title{
    font-size:60px;
    font-weight:600;
    color:#fff;
}
.tab{
    display:flex;
    margin:20px 0 40px;
}
.tab_links{
  margin-right:50px;
  font-size:18px;
  font-weight:500;
  cursor:pointer;
  position:relative;
}
.tab_links::after{
    content:' ';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab_links.active_links::after{
    width:50%;
}
.contents ul li{
list-style: none;
margin:10px 0;
}
.contents ul li span{
    color: #b54769;;
    font-size:14px;
}
.contents{
    display:none;
}
 .contents.active_contents{
   display: block;
 }

 /******** Services********/
#services{
    padding:30px 0;
}
.service_list{      /***** VIMP**********/
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
   padding:0 20px;
}
.service_list div{
    background: #262626;
    padding:40px;
    display:inline-block;
    margin:0 40px;
    font-size:13px;
    font-weight:300;
    border-radius:10px;
    transition: background 0.5s,transform 0.5s;   /*******VIMP*****/
}
.service_list div i{
    font-size: 80px;
    margin-bottom:30px;
    padding:10px;
}
.service_list div h2{
    font-size:30px;
    font-weight:600;
    margin-bottom:15px;
}
.service_list div a{
    text-decoration:none;
    color:#fff;
    font-size:14px;
    margin-top:20px;
    display:inline-block;
}
.service_list div:hover{
background:#ff004f;
transform:translateY(-10px);  /* ********vimp*********/           
}

/****** PORFOLIO*********/
#portfolio{
    padding:50px 0;
    font-size:30px;
}
.list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
    margin-left: 40px;
    margin-right: 40px;
}
.work{
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;  /******* css 3.1****/
}
/* overlapping the layers of img and div content very important method learn it*/
.layer {
    font-size:15px;
    width:100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);  /******* IMP******/
    border-radius:10px;
    position: absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align:center;
    font-size: 15px;
    transition: height 0.5s
}
.layer h3{
    font-weight:600;
    margin-bottom:20px;
}
/**** this method is used to make the icon link round learn it*****/
.layer a{
    margin-top: 20px;
    color:#ff004f;
    text-decoration:none;
    font-size:20px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
}
/** used to zoom in the image when cursor is placed on it***/
/***** for this we have to add transition in above css 3.1**/
.work:hover img{   
    transform:scale(1.1);
}
/**** this is used to display the overlapped content on image when the cursor is placed******/
.work:hover .layer{
    height: 100%;
}

/***** modifying the anchor tag as button and adding hover effect to it***/
.anchor{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #ff004f;
    padding:14px 50px;
    border-radius:6px;
    text-decoration: none;
    color:#fff;
    transition:background 0.5s;
}
.anchor:hover{
    background:#ff004f;
}

/****** contact*****/
.col3{
    flex-basis: 35%;
    margin-left: 40px;
}
.col4{
    flex-basis: 60%;
}
.col3 p{
    margin-top:30px;
}
.col3 p i{
    color:#ff004f;
    margin-right:15px;
    font-size:27px;
}
.icons{
    margin-top:32px;
}
.icons a{
    text-decoration: none;
    font-size:30px;
    margin-right:16px;
    color:#ababab;
    display:inline-block;
    transition: transform 0.5s;
}
.icons a:hover{
    color:#ff004f;
    transform:translateY(-5px);
}
.anchor.anchor2{
    display:inline-block;
    background:#ff004f;

}
.col4{
    width:100%;
  
}
form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
     padding:15px;

    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius:6px;
    
}
.row{
    padding:0 40px;
}
form .anchor2{
    padding:14px 60px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}
.rights{
    width:100%;
    text-align: center;
    padding:25px 0;
    background:#262626;
    font-weight:300;
    margin-top:20px;
}
.rights i{
    color:#ff004f;
}
#msg{
    color:#61b752;
    margin-top: -40px;
    display:block;
}



/********css for small screens**********/
nav .fa-solid{
    display:none;
}
@media only screen and (max-width:600px){   /****** VIMP ***** css for small screen should be written after this******/
#id1{
    background-image: url(back3.png);
}
#header{
    font-size:16px;
    margin-top:40%;
}
#header h1{
    font-size:30px;
}
#header1 img{
    height:400px;
    width:400px;
    margin-top: 20%;
}
#header0{
    display:block;

}
nav .fa-solid{
    display:block;
}
nav ul{
    background:#ff004f;
    position: fixed;
    top:0;
    right:-200px;
    width:200px;
    height:100vh;
    padding-top: 50px;
    z-index:2;
    transition: right 0.5s;
}
nav ul li{
    display:block;
    margin:25px;
}
nav ul .fa-solid{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
}
.sub_title{
    font-size:40px;
}

.col1,.col2{
    flex-basis: 100%;
}
.col1{
    margin-bottom: 30px;
}
.col2{
    font-size: 14px;
}
.col3,.col4{
    flex-basis: 100%;
}
.rights{
    font-size:14px;
    
}
}


/**** some extra edit done by me********/

